.gap-row {
  // .col-3 {
  //   background: #eae9e5;
  //   width: 24%;
  // }
  column-gap: 5px;
  .col-background {
    background: #eae9e5;
    width: 49%;
  }
}

.us-icon {
  color: #4fac4f;
}

// .col-6 {
//   padding: 0;
// }

.gap-row {
  column-gap: 5px;
}

.add-icon {
  color: #4fac4f;
  font-size: 2rem;
}

.area-custom {
  padding: 6px 12px;
}

.cursor-pointer {
  cursor: pointer;
}
